<div class="container">
  <div class="barb-tabs">
    <h1 class="barb-title">Barbeiros</h1>

    <div class="loc-barb">
      <ion-icon name="pin" class="icon-loc"></ion-icon>
      <p>Rua Calçoene, 110 - Alto do Mandu</p>
    </div>

    <div class="barb-content">
      <ion-icon name="chevron-back-outline" class="arrow"></ion-icon>

      <div class="barb-desc">
        <h3>Lucas Ramos</h3>
        <ul class="lista1">
          <li>10 anos de experiência</li>
          <li>Especialista em cortes modernos e barbas desenhadas</li>
          <li>Certificado em Barbearia Profissional pelo Instituto Barber Art</li>
          <li>Curso de Visagismo e Estilo pelo Senac</li>
          <li>Experiência com cortes clássicos e tendências urbanas</li>
        </ul>
      </div>

      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
  </div>
</div>



