<div class="container">

  <div class="localizations-tabs">
    <h1 class="localizations-title">Localizações</h1>
    <div class="central">

   <div class="icon">
    <ion-icon name="pin" class="icon-loc"></ion-icon>
    <p>Rua Calçoene, 110 - Alto do Mandu;</p>
   </div>
   <div class="icon-hor1">
    <ion-icon name="time" class="time"></ion-icon>
    <p>Horário de Funcionamento: 8:00 Horas - 20:00 </p>
   </div>

   <div class="icon-2">
    <ion-icon name="pin" class="icon-loc"></ion-icon>
    <p>Rua Leme, 255 - Santo Amaro;</p>
   </div>
   <div class="icon-hor1">
    <ion-icon name="time" class="time"></ion-icon>
    <p>Horário de Funcionamento: 8:00 Horas - 20:00 </p>
   </div>
  </div>

  </div>
</div>
