<ion-content class="loginIni">
  <div class="login-container">
    <div class="Logo-login">
      <img src="assets/Logo-cadastro.png" alt="Logo do cadastro" class="ImgLogo-cadastro">
    </div>

    <ion-item class="input-box">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="email" placeholder="E-mail" clearInput [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="input-box-locked">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Senha" clearInput [(ngModel)]="senha"></ion-input>
    </ion-item>

    <div class="options">
      <ion-checkbox slot="start"></ion-checkbox>
      <span>Lembrar-me</span>
      <a (click)="irParaEsqueceuSenha()">Esqueceu a senha?</a>
    </div>

    <ion-button expand="full" class="login-button" fill="clear" (click)="login()">Login</ion-button>

    <p class="register-login">
      Não tem login? <a (click)="irParaCadastro()">Cadastre-se</a>
    </p>
  </div>
</ion-content>
