<div class="containerMarc">
  <div class="back">
    <ion-icon name="arrow-back" (click)="irParaHome()"></ion-icon>
    <button class="backButton" (click)="irParaHome()">Voltar</button>
  </div>
  <div class="marcTable">
    <div class="header">
      <img src="../../../assets/IconeBarber.png">
      <h2>Barbeiros</h2>
    </div>
    <hr class="linhaMarc">
    <p class="pMarc">Marque o barbeiro da sua preferência:</p>
 <div class="barberOption" *ngFor="let barbeiro of barbeiros; let i = index">
  <input
    type="radio"
    [id]="'barbeiro-' + i"
    name="barber"
    [(ngModel)]="barbeiroSelecionado"
    [value]="barbeiro.valor"
  >
  <label [for]="'barbeiro-' + i">{{ barbeiro.nome }}</label>
</div>
    <button class="continueButton" (click)="irParaTabela()">Continuar</button>

    <div class="barbersList">
      <div class="barberOption">
        <input type="radio" id="lucas" name="barber" checked>
        <label for="lucas">Lucas Ramos</label>
      </div>
      <div class="barberOption">
        <input type="radio" id="andre" name="barber">
        <label for="andre">João Silva</label>
      </div>
    </div>
    <button class="continueButton">Continuar</button>

  </div>
</div>
