<div class="container">
  <div class="barb-tabs">
    <div class="barb-header">
      <h1 class="barb-title">Barbeiros</h1>
    </div>

    <!-- Barbeiro Lucas Ramos -->
    <div class="barb-content">
      <div class="barb-desc">
        <div class="barb-header">
          <ion-icon name="person-circle" class="barb-icon"></ion-icon>
          <h3>Lucas Ramos</h3>
        </div>
        <ul class="lista1">
          <li>10 anos de experiência</li>
          <li>Especialista em cortes modernos</li>
        </ul>
      </div>
    </div>

    <!-- Novo barbeiro João Silva -->
    <div class="barb-content">
      <div class="barb-desc">
        <div class="barb-header">
          <ion-icon name="person-circle" class="barb-icon"></ion-icon>
          <h3>João Silva</h3>
        </div>
        <ul class="lista1">
          <li>5 anos de experiência</li>
          <li>Especialista em cortes clássicos</li>
        </ul>
      </div>
    </div>
  </div>
</div>
